.header {
  padding: 93px 50px 95px 50px;
  grid-template-columns: 1fr min-content 1fr;
  display: grid;
  flex-direction: row;
  align-items: center;
  align-content: center;
}

.header__logo {
  width: 148px;
  height: 105px;
  justify-items: center;
  justify-self: center;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  font-size: 18px;
  max-width: 240px;
  line-height: 23px;
  display: flex;
  justify-self: end;
  font-family: "Raleway", sans-serif;
  flex-direction: column;
  font-style: normal;
  align-items: flex-start;
}

.link__address {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.header_menu {
  display: flex;
  align-items: center;
  justify-items: center;
  justify-self: start;
}

.header__link {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  border-bottom: 1px solid black;
}

.header__links-list {
  gap: 33px;
  list-style: none;
  display: flex;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
  border: none;
}

.cover {
  background-image: url(../images/cover.jpg);
  padding: 165px 20px 50px 50px;
  width: 100%;
  min-height: 757px;
  background-repeat: no-repeat;
  position: relative;
  background-size:cover;
  background-position: center;
}

.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgb(0 0 0/0.6);
  position:absolute;
}

.cover__title {
  z-index: 2;
  font-weight: 700;
  line-height: 115%;
  letter-spacing: 30%;
  font-size: 100px;
  color: white;
  gap: 20px;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position:relative;    
}

.cover__description {
  width: 100%;
  z-index: 2;
  margin-top: 105px;
  display: flex;
  position: relative;
  color: white;
  align-items: center;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 9px;
  letter-spacing: 0.6em;
  margin-right: 110px;
}

.letter-spacing-extended {
  letter-spacing: 0.07em;
}

.aligned-text {
  display: block;
  letter-spacing: 0.3em;
}

.bet-button {
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 1px solid currentColor;
  padding: 15px 35px 12px 22px;
  height: 52px;
  max-width: 256px;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", sans-serif;
}

.aligned-text_right {
  text-align: right;
  
}

.aligned-text_center {
  text-align: center;

}

.aligned-text_left {
  text-align: left;
}

.lots {
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 185px 24px 130px 24px;
}

.lots__heading {
  font-size: 40px;
  line-height: 100%;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  z-index: 2;
  text-transform: uppercase;
  color: black;
  padding: 0px 0px 0px 40px;
 
}

.lots__card-list {
  display: flex;
  gap: 24px;
  list-style: none;
  margin-top: 27px;
}

.lots__card-list-item {
  color: white;
  flex: 1;
}

.card {
  width: 334px;
  padding: 48px 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}

.card_link {
  display: block;
  text-decoration: none;
  height: 100%;
  width: 100%;
}

.card__type{
 background-size: cover;
  width: 100%;
  min-height: 596px;
  background-repeat: no-repeat;
  background-position: center;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg); 
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.block_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
   align-items: flex-end;
   margin-top: 45px auto;
   
}

.card__title {
  position: relative;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-decoration: underline;
  font-size: 22px;
  font-style: solid;
  text-transform: uppercase;
  color: white;
  z-index: 2;
}

.text {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: white;
  z-index: 1;
  line-height: 120%;
  padding: auto 40;
 
}

.lots__look-more-link {
  display: flex;
  font-size: 20px;
  margin: 35px 0px 0px 40px;
}

.about {
  display: flex;
  gap: 72px;
  justify-content: space-between;
  background-size: cover;
}

.about__column {
  display: grid;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
  margin-top: 20px;
}

.about__logo-image {
  width: 148px;
  height: 144px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  justify-content: space-between;
}

.right_column {
  margin-top: 126px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin-right: 29px;
}

.footer {
  padding: 180px 50px 60px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
}

.address__footer {
  justify-self: start;
}

.footer__address-link {
  display: flex;
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-self: center;
  justify-items: center;
}

.footer__menu-link {
  border-bottom: 1px solid black;
  text-decoration: none;
}

.footer__menu-list {
  align-items: center;
  justify-items: center;
  text-align: center;
  list-style: none;
  line-height: 21px;
  font-size: 18px;
}

.footer__menu-link_active {
  border: none;
}

.footer__links-list-item_no-bullit {
  border: none;
  text-decoration: none;
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: block;
  list-style: none;
}

.footer__social-list-item {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-items: center;
  list-style: none;
  justify-self: end;
}

.footer__social-link {
  list-style: none;
  flex-wrap: wrap;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
}
