.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:94px 52px 94px 50px;
  flex-direction: row;
margin-right: 15px;

}

.header__logo {
  width: 148px;
  height: 105px;
  display: flex;
  margin-right: 60px;
}

.header__logo-image {
  width: 100%;
  height: 100%;
}

.address {
  font-size: 18px;
  display: flex;
  align-items: start;
  font-family: "Raleway", "sans-serif";
  flex-direction: column;
  line-height: 135%;

}

.header__address {
  border-bottom: 1px solid black;
  text-decoration: none;
  margin-right: 128px;
}

.header_menu {
  align-items: center;
  justify-items: center;
  justify-self: start;
  font-size: 18px;
}




.header__link {
  font-size: 18px;
  font-family: "Raleway", "sans-serif";
  border-bottom: 1px black;
}

.header__links-list {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

/*1 блок 2 секции*/

.cover {
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-size: auto;
  position: relative;
  background-position: center;
  padding: 165px 50px 50px 50px;
  width: 100%;
  height: auto;
  left: 0;
  min-height: 757px;
}

.overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  
  background-color: rgb(0 0 0/0.6);
}

.cover__title {
  width: 100%;
  text-transform: uppercase;
  font-size: 100px;
  line-height: 115%;
  letter-spacing: 30%;
  color: rgb(255, 255, 255);
  font-family: "Raleway", "sans-serif";
  z-index: 2;
  position:absolute;
  left: 50px;
}

.cover__description {
  display: flex;
  position: relative;
  gap: 92px;
  color: white;
  margin-top: 550px;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 9px;
  letter-spacing: 0.5em;
}

.letter-spacing-extended {
  letter-spacing: 0.06em;
 
}
.aligned-text {
  display: block;
letter-spacing: 0.3em;
}

.bet-button {
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 12px 31px;
  height: 52px;
  max-width: 256px;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: "Raleway", "sans-serif";
}

.aligned-text_right {
  text-align: right;
  margin-right: 65px;
  margin-top:45px;
}

.aligned-text_center {
  text-align: center;
  margin-right: 65px;
  padding-top: 20px;
}


.aligned-text_left {
  text-align: left; 
}

/* 2 секция 2 блока*/

.lots {
  grid-template-areas: "lots__heading lots__card-list";
  position: relative;
  background-size: cover;
  background-position: center;
  padding: 125px 24px 160px 24px;
}

.lots__heading {
  font-size: 40px;
  line-height: 100%;
  font-weight: 700;
  font-family: "Raleway", "sans-serif";
  z-index: 2;
  text-transform: uppercase;
  color: black;
  padding: 0px 0px 27px 40px;
}

.lots__card-list {
  display: flex;
  gap: 24px;
  list-style: none; 
}

.lots__card-list-item {
  color: #fff;
  flex: 1;
  padding: 0px 0px 53px 0px;
}

/* карточки*/

.card {
  height: 596px;
  position:relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card_link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  height: 596px;
  background-repeat: no-repeat;
}

.card_type_book {
  width: 100%;
  height: 100%;
  height: 596px;
  background-image: url(../images/card-lot-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.card_type_picture {
  width: 100%;
  height: 100%;
  height: 596px;
  background-image: url(../images/card-lot-03.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.block_text{
display: flex;
flex-direction: column;
justify-content: space-between;
}

.card__title {
  position: relative;
  font-family: "Raleway", "sans-serif";
  font-weight: 700;
  text-decoration: underline;
  font-size: 22px;
  font-style: solid;
  text-transform: uppercase;
  color: white;
  padding-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  z-index: 2;
}

.text{
font-family: "Raleway", "sans-serif";
  font-weight: 400;
  font-size: 20px;
  color: white;
  z-index: 1;
  line-height: 120%;
}


.card_text_f{
  padding:278px 40px 48px;
}

.card_text_b{
  padding: 38px 40px 48px;
}

.card_text_p{
  padding: 135px 40px 48px;
}

                                   /*ТУТ ПОДНЯТЬ!!!*/
.lots__look-more-link{
  display: flex;
  font-size: 20px;
  padding: 0px 0px 0px 40px;
  
}

/* 3 секция 2 блока*/

.about {
  display: flex;
  gap:72px;
  justify-content: space-between;
  background-size: cover;
  

}

.about__column {
  display: grid;
}

.about__logo {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}

.about__logo-image {
  width: 148px;
  height: 144px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
 justify-content: space-between; 
 
 
}

.right_column{
 margin-top: 136px;
 display: flex;
  flex-direction: column;
  gap: 100px;
  
}

.about__text {
display: flex;
  flex-direction: column;
  gap: 24px;  


}

/* футер ура 3 блок*/

.footer {
  padding: 225px 50px 82px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.footer__address {
 width: 150px;
  font-size: 18px;
  display: flex;
  font-family: "Raleway", "sans-serif";
  flex-direction: column;
 text-decoration: none;
 border-bottom: 1px solid black;
  line-height: 30px;
  align-items: center;
  justify-items: end;
}

.footer__menu {
  display: flex;
  align-items: center;
  justify-items: center;
  font-style: normal;
  
}

.footer__menu-list {
  display: block;
  align-items: center;
  justify-items: center;
  list-style: none;
  
 
}


.footer__links-list-item_no-bullit {
  border: none;
  text-decoration: none;
  
}

.footer__link_active {
  text-decoration: none;
}

.footer__social-list {
  display: block;
  list-style: none;
}

.footer__social-list-item {
  display: flex;
  gap: 48px;
  align-items: center;
  justify-items: center;
  list-style: none;
}

.footer__social-link {
  list-style: none;
  flex-wrap: wrap;
}

.footer__social-icon {
  height: 48px;
  width: 48px;
  
}