* {
    box-sizing: border-box;
}


body {
  min-width: 1100px;
  margin: 0 auto;
  background-color: #fff; 
  font-family: 'Raleway', 'sans-serif';
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

.adress{
  min-width: 240px;
  font-size: 18px;
  text-align: right;
  display: flex;
  align-items: flex-start;
  font-family: 'Raleway', 'sans-serif';
  flex-direction: column;
  justify-self: end;
  line-height: 20px;
  top: 0px;
 right: 50px;
}

.header__address{
 border-bottom: 1px solid black;
 text-decoration: none;

}


.header{
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  align-content: center;
  grid-template-areas: 'header_menu header__logo header adress' ;
  justify-content: space-between;
  margin: 0px 0px 2735px 50px;
}


.header-menu{
 align-items: center;
 justify-items: center; 
 justify-self: start;
}


.header__link{
    font-size: 18px;
    font-family: 'Raleway', 'sans-serif';
    border-bottom: 1px black;
    
}

.header__links-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;
    text-align: left;
    gap: 32px;

    
     
}


.header__links-list-item{
    list-style: circle;
    
}

.header__links-list-item_no-bullit{
 list-style: none; 
  
 
}

.header__link_active{
    text-decoration: none;
   
}
.header__logo{
grid-area: header__logo;
width: 148px;
height: 105px;
align-items: center;
justify-items: center;
display: block;
margin: 0px 48px 2735px 47px;
}

.header__logo-image{
width: 100%;
height: 100%;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}


/*first section*/

.cover{
min-width: 1100px;
background-image: url(../images/cover.jpg);
background-repeat: no-repeat;
background-size: cover;
padding: 165px 30px 165px 30px;
position: absolute;
background-position: center;
right: 165px;
left:165px;
top: 50%;

transform-origin: absolute;
justify-content: center;
}

.overlay{
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0;
 left:0;
 z-index: 1;
 background-color: rgb(0 0 0/.6);  
}

.cover__title{
position: relative;
text-transform: uppercase;
z-index: 2;
font-size: 100px;
font-weight: 700;
line-height:115%;
letter-spacing: 30%;
line-height: 115%;
color: rgb(255, 255, 255);
font-family: 'Raleway', 'sans-serif';

}

.cover__description{
position: relative;
display: flex;
top: 100px;
align-items: center;
z-index: 2;
gap:78px;
color: rgb(255 255 255);
 margin-left: 3px;
justify-content: end;
}


.cover__description-text{
font-size: 22px;
text-transform: uppercase;
word-spacing: 9px;
letter-spacing: 0.02em;


}

.letter-spacing-extended{
    letter-spacing: 0.06em;

}
.aligned-text{
display: block;
}

.bet-button{
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 31px;
    height: 52px;
    max-width: 256px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway', 'sans-serif';
}

.aligned-text_right{
 text-align: right;
 margin-right: 50px;
 letter-spacing: 18px;
 
}

.aligned-text_center{
 text-align: center;
 letter-spacing: 18px;
}

.aligned-text_left{
 text-align: left;
 margin-left: 50px;
 letter-spacing: 18px;
}


.lots{
position: relative;
background-size: cover;
background-position: center;
min-height: 723px;
margin:1230px 24px 1075px 24px;
}

.lots__heading{
font-size: 40px;
line-height: 100%;
font-weight: 700;
font-family: 'Raleway', 'sans-serif';
z-index: 2;
text-transform: uppercase;
color: black;
padding: 0 0 27px 64px;
}


.lots__card-list{
display: flex;
flex-direction: row;
gap: 24px;
list-style: none; /*убрала точки около блоков с картинками*/


}
.lots__card-list-item{
    width: 334px;
    height: 596px;
    
}


.card{
    padding: 48px 40px;
    min-width: 334px;
    min-height: 596px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-position: center;
    justify-content: space-between;
    background-size: cover;
    
}
 
.card-link{
text-decoration:none;
display: block;
height:100%;
}
.card_type_film{
background-image: url(../images/card-lot-01.jpg);
background-size: cover;
}

.card_type_book{
background-image: url(../images/card-lot-02.jpg);
background-size: cover;
}

.card_type_picture{
background-image: url(../images/card-lot-03.jpg);
background-size: cover;
}

.card-title{
position: relative;
font-family: 'Raleway', 'sans-serif';
font-weight: 700;
font-style: solid;
font-size: 22px;
line-height: 120%;
letter-spacing: 0%;
text-transform: uppercase;
text-decoration: underline;
color: white;
z-index: 2;
}

.card__text{
font-family: 'Raleway', 'sans-serif';
font-weight: 400;
font-size: 20px;
line-height: 120%;
letter-spacing: 0%;
padding: auto 40px;
color: white;
z-index: 1;
position: bottom;

}

.lots__look-more-link{
  font-family: 'Raleway', 'sans-serif';
  font-weight:400px;
  font-size: 20px;
  color: black;
  width: 192px;
  top: 700px;
  border-bottom: 1px solid black;
  text-decoration: none;
  margin-top: 30px;
  margin-left: 40px;
  display: block;
}